* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background: #000000;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

canvas {
  height: 100vh;
  position: absolute;
  transform: translate(-50%, 0%);
  background: #87ceeb;
}

.container {
  position: relative;
  text-align: center;
}

#info {
  background: black;
  color: white;
  position: absolute;
  font-size: 2em;
  z-index: 2;
}
