* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Arrows;
  src: url(../other/arrows.ttf);
}

@font-face {
  font-family: OutriderCond;
  src: url(../other/outriderCond.ttf);
}

@font-face {
  font-family: OutriderCondBold;
  src: url(../other/outriderCondBold.ttf);
}

@font-face {
  font-family: Joystix;
  src: url(../other/joystix.ttf);
}

html, body {
  background: #000000;
  font-family: Joystix, Verdana, Geneva, sans-serif;
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.container {
  position: relative;
  margin: 0 auto;
}

canvas {
  height: 100%;
  width: 100%;
  background: #FAF6F2;
}

#info, .hud-container, #touchControls {
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  width: 100%;
  list-style-type: none;
  font-weight: 700;
  font-size: 2vw;
  text-align: justify;
  z-index: 2;
  user-select: none;
}

#info {
  top: 60px;
}

.controlButtons {
  border-radius: 50%;
  display: block;
  font-size: 6vw;
  font-weight: 700;
  height: 10vw;
  width: 10vw;
  margin: 0 0.3em 0.5em;
  background: rgba(0, 0, 0, 0.05);
  color: #c0c0c0;
}

.hud-container {
  background-color: rgba(255, 0, 0, 0.4);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw;
  padding: 5px 0;
  font-size: 1vw;
  padding: 0 4%;
}

.hud-container .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

.hud-container .value {
  color: white;
  font-weight: bold;
}

.hud-container .fastest {
  background-color: rgba(255, 215, 0, 0.5);
}

#mute {
  background-position: 0px 0px;
  background-size: contain;
  width: 32px;
  height: 32px;
  background: url(../images/sprites/other/mute.png);
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1vw;
}

#mute.off {
  background-position: -32px 0px;
}

#touchControls {
  bottom: 0em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1em;
}

.hidden{
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  #touchControls {
    display: none;
  }

  .container {
    height: min(100vh, 56.25vw);
  }
}
