* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background: #000000;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: min(100vw, 150vh);
  height: min(100vh, 66vw);
}

canvas {
  height: 100%;
  width: 100%;
}

#info, #hud, #touchControls {
  color: white;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  width: 100%;
  list-style-type: none;
  font-weight: 700;
  font-size: 2vw;
  text-align: justify;
  z-index: 2;
}

#info {
  top: 60px;
}

#touchControls {
  display: none;
}

.controlButtons {
  border-radius: 50%;
  display: block;
  font-size: 4vw;
  height: 6vw;
  width: 6vw;
  margin: 0 0.8em 1em;
  user-select: none;
  background: black;
  color: #fff9ef;
}

#hud {
  background-color: rgba(255, 0, 0, 0.4);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw;
  padding: 5px 0;
  font-size: 1vw;
  padding: 0 4%;
}

#hud .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

#hud #last_lap_time {
  /* display: none; */
}

#hud #fast_lap_time {
  display: block;
  width: 12em;
  text-align: center;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

#hud .value {
  color: white;
  font-weight: bold;
}

#hud .fastest {
  background-color: rgba(255, 215, 0, 0.5);
}

#mute {
  background-position: 0px 0px;
  background-size: contain;
  width: 32px;
  height: 32px;
  background: url(../images/mute.png);
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1vw;
}

#mute.off {
  background-position: -32px 0px;
}

@media (hover:none) and (pointer: coarse) {
  #touchControls {
    bottom: 0em;
    display: flex;
    justify-content: space-between;
  }
}
