.Hud {
  width: 21.25vw;
  height: 6.25vw;
  background: url("../assets/images/ui/combatant-plate.png") no-repeat;
  background-size: cover;
  position: absolute;
  left: 0.6vw;
  top: 5vw;
  image-rendering: pixelated;
}

.Hud_character_crop {
  position: absolute;
  top: 1vw;
  left: 1.875vw;
  width: 5vw;
  height: 4.5vw;
}

.Hud_name {
  position: absolute;
  left: 1vw;
  top: -2vw;
  white-space: nowrap;
  background: var(--menu-font-color);
  color: #fff;
  font-size: 2vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin: 0;
}

.Hud_gas-container {
  position: absolute;
  left: 7.25vw;
  top: 1.25vw;
  width: 9.7vw;
  height: 1.5vw;
}

.Hud_gas-container>rect, .Hud_xp-container>rect, .Hud_money {
  transition: width 1s;
}

.Hud_xp-container {
  position: absolute;
  left: 7.25vw;
  top: 2.55vw;
  width: 9.7vw;
  height: 1.5vw;
}

.Hud_level {
  position: absolute;
  font-size: 2vw;
  right: -1vw;
  top: -0.5vw;
  width: 4vw;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8C594;
  border: 0.25vw solid #A48465;
  margin: 0;
}

.Hud_money {
  position: absolute;
  top: 4vw;
  left: 9vw;
  font-size: 2vw;
}

.Hud_money_img {
  position: absolute;
  top: 4vw;
  left: 6.6vw;
  width: 2vw;
}
