#info, .hud-container, .touch-controls {
  color: black;
  position: absolute;
  width: 100%;
  list-style-type: none;
  font-weight: 700;
  font-size: 2vw;
  text-align: justify;
  z-index: 2;
  user-select: none;
}

#info {
  align-content: end;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 3vw;
  padding-right: 0.5vw;
  
  top: 0vw;
  width: 100%;
}

.fps-canvas {
  cursor: pointer;
  height: 3vw;
  margin-left: auto;
  margin-right: 0.2vw;
  opacity: 0.85;
  width: 4vw;
}

.control-buttons {
  border-radius: 50%;
  display: block;
  font-size: 6vw;
  font-weight: 700;
  height: 10vw;
  width: 10vw;
  margin: 0 0.3em 0.5em;
  background: rgba(0, 0, 0, 0.05);
  color: #c0c0c0;
}

.hud-container {
  background-color: rgba(255, 0, 0, 0.4);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vw;
  padding: 5px 0;
  font-size: 1vw;
  padding: 0 4%;
}

.hud-container .hud {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5em;
  border: 1px solid black;
  margin: 0 5px;
  transition-property: background-color;
  transition-duration: 2s;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 2s;
}

.hud-container .value {
  color: white;
  font-weight: bold;
}

.hud-container .fastest {
  background-color: rgba(255, 215, 0, 0.5);
}


.touch-controls {
  bottom: 0em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1em;
}

.filter {
  filter: brightness(75%);
}

@media (hover: hover) and (pointer: fine) {
  .touch-controls {
    display: none;
  }

  .container {
    height: min(100vh, 56.25vw);
  }
}

.interface-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 3vw;
  width: 3vw;
}

.img100 {
  max-height: 100%;
  max-width: 100%;
}

.pause-btn {
  background: url(../images/sprites/other/pause-play.png);
  background-size: 200%;
  margin-right: 0.2vw;
}

.pause-btn.off {
  background-position: 3vw 0;
}


.mute-btn {
  background: url(../images/sprites/other/mute.png);
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 3vw;
  width: 3vw;
}

.mute-btn.off {
  background-position: 3vw 0;
}

.hidden {
  display: none;
}
