.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12vw;
  padding: 2vw;
  font-family: Computo, Verdana, Geneva, sans-serif;
  background: var(--menu-background);
  border-top: 0.1vw solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.TextMessage_p {
  margin: 0;
  font-size: 4vw;
}

.TextMessage span {
  opacity: 0;
}

.TextMessage span.revealed {
  opacity: 1;
}

.TextMessage_button {
  margin: 0;
  font-size: 2vw;
  padding: 0;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  position: absolute;
  right: 1vw;
  bottom: 0;
}
